* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  font-weight: normal;
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  background: transparent;
}

body {
  background-color: rgb(255, 0, 93);
}

.main {
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
}

.component {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0 2rem;
  border-radius: 1rem;
  background-color: white;
}

.component__image-article {
  width: 100%;
}

.component__image-article img {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem 1rem 0 0 ;
}

.text-box {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
}

.text-appearance {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(214, 17%, 51%);
}

.text-appearance--font-dark {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.profile-block {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.profile-block__avatar {
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 50%;
}

.profile-block__information {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.author-name {
  font-weight: 700;
  color:hsl(217, 19%, 35%);
}

.date-publication {
  font-weight: normal;
  color:hsl(212, 23%, 69%);
}

.profile-block__share {
  margin: 0 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.6rem;
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
}

.profile-block__share:hover {
  cursor: pointer;
}

.profile-block__share:focus {
  background-color: hsl(214, 17%, 51%);
}

.share-icon {
  display: block;
  width: 100%;
}

.share-icon--active {
  display: none;
}

.profile-block__share-active {
  position: absolute;
  right: -4rem;
  top: 11rem;
  display: none;
}

.share-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: hsl(217, 19%, 35%);
}

.triangle {
  position: relative;
  top: -0.3rem;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.2rem solid hsl(217, 19%, 35%);
  /* background-color: red; */
}

.profile-block__share-active p {
  display: inline-block;
  letter-spacing: 0.3rem;
  font-weight: 700;
  color:hsl(212, 23%, 69%);
}



/* SCREEN >= 900px. */

@media (min-width: 900px) {
  
  * {
    font-size: 0.9vw;
  }
  
  .component {
    display: flex;
    flex-direction: row;
    max-width: 50vw;
    margin: 0 auto;
  }

  .component__image-article {
    flex: 1 0 20vw;
    height: 20vw;
  }
  
  .component__image-article > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
    border-radius: 1rem 0 0 1rem;
  }

  .text-box {
    row-gap: 1.4rem;
    padding: 2rem 3rem;
  }
  
  .text-appearance--font-dark {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
  }

  .text-appearance--font-light {
    font-size: 1rem;
  }

}